@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /*
     * Kan brukes for å debugge layout
     */
    .debug {
        @apply border-2 border-red-500;
        @apply after:content-['debug'];
        @apply after:absolute;
    }

    .flex-row-center {
        @apply flex flex-row items-center;
    }

    .flex-center {
        @apply flex items-center justify-center;
    }
}

@layer components {
    /*
     * Den hvite bakgrunnen på logoen i header
     */
    .logo-backdrop {
        height: calc(100% * 2);
        @apply w-64 rounded-r-full bg-white sm:w-80;
        @apply absolute -left-14 -top-14;
    }

    .header-gradient {
        @apply bg-gradient-to-r from-root-primary via-root-primary to-root-secondary;
    }
}

/*
 * CSS for hele dokumentet
 */
:root {
    @apply overflow-x-hidden;
    scroll-behavior: smooth !important;
}

button,
a[role="button"] {
    @apply focus:border focus:border-root-primary;
}

.link,
a {
    @apply text-root-primary dark:text-root-light no-underline hover:text-root-primary-dark;
}

/*
    Gjør at man kan bruke flere tomme p-tagger for å lage luft.
    Nyttig sammen med PortableText
*/
p:empty + p:empty {
    @apply min-h-[1px];
}

ul {
    @apply list-disc pl-3.5;
}

ol {
    @apply list-decimal pl-3.5;
}

br {
    @apply my-2 block;
}

h1 {
    @apply text-4xl font-bold light:text-dark-title;
}

h2 {
    @apply text-3xl font-bold light:text-dark-title;
}

h3 {
    @apply text-2xl font-bold light:text-dark-title;
}

h4 {
    @apply text-xl font-bold light:text-dark-title;
}

h5 {
    @apply text-lg font-bold light:text-dark-title;
}

h6 {
    @apply text-base font-bold text-dark-title;
}
